body {
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
    /* font-size: 14px; */
    font-size: 1rem;
    color: hsl(223, 22%, 42%);
    background: hsl(240, 54%, 97%);
    /* background: #F8F9FE; */
}

.makeHeading {
    font-weight: bold;
    font-size: 1rem;
}

.flex {
    display: flex;
}

.justifyContentSpaceBetween {
    justify-content: space-between;
}

.justifyContentCenter {
    justify-content: center;
}

.alignItemsCenter {
    align-items: center;
}

.marginBottom-point5rem {
    margin-Bottom: 0.5rem;
}

.marginBottom-2rem {
    margin-Bottom: 2rem;
}

.marginRight-point5rem {
    margin-right: 0.5rem;
}

.marginLeft-1rem {
    margin-left: 1rem;
}

.makeButton {
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 #dfe1f3, 0 -2px 4px 0 #c6c7d7;
    width: fit-content;
    cursor: pointer;
}

.makeBondiBlueButton {
    background: hsl(195, 100%, 35%);
    color: white;
}

.makeThunderBirdButton {
    background: hsl(3, 79%, 45%);
    color: white;
}

.makeFunGreenButton {
    background: hsl(140, 100%, 30%);
    color: white;
}

input[type=text] {
    outline: none;
}