.modal-overlay {
    width: 100%;
    height: 120vh;
    /* width: 100%;
    height: 100%; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background: black;
    opacity: 0.5;
}

.modal {
    position: absolute;
    top: 25%;
    left: 20%;
    width: 60%;
    background: white;
    border-radius: 5px;
    z-index: 6;
    /* overflow: auto; */
}

.modal-page-height {
    height: 50%;
}

.modal-question-height {
    min-height: 50%;
}

.modal-input {
    width: 50%;
}

.page-title {
    margin-bottom: 4rem;
}

.page-container {
    height: 100%;
    align-items: center;
}

.question {
    margin: 20px;
    margin-bottom: 5rem;
}

.options-container {
    width: 20%;
    margin-left: 1rem;
}

.buttons-contaner {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

.close-icon-option {
    width: 20px;
    height: 20px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 100%;
}

.close-icon-option:hover {
    background: hsl(0, 0%, 80%);
}

.alert-text {
    color: red;
    margin-top: 4rem;
}