.container {
    padding: 40px;
}

.forms-container {
    display: flex;
}

.form {
    width: 75%;
}

.form-header {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
}

.forms {
    font-weight: bold;
    width: 25%;
    height: 100vh;
    background: white;
    padding: 20px;
}

.forms-item {
    background: hsl(240, 54%, 97%);
    padding: 10px;
    margin-bottom: 10px;
}

.button {
    background: hsl(195, 100%, 35%);
    border-radius: 8px;
    padding: 16px;
    color: #fff;
    cursor: pointer;
    margin-left: 4rem;
    border: none;
    outline: 0;
}

.save {
    background: hsl(120, 60%, 40%);
    padding-left: 40px;
    padding-right: 40px;
}

.questions {
    width: 92%;
    min-height: 50vh;
    background: white;
    padding: 10px;
}

.action-icon {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 10%;
}

.action-icon:hover {
    background: hsl(0, 0%, 80%);
}
