.question-container {
    background: hsl(240, 54%, 97%);
    margin: 10px;
    padding: 10px;
}

.icons-container {
    justify-content: flex-end;
    display: flex;
}

.action-icon {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 10%;
}

.action-icon:hover {
    background: hsl(0, 0%, 80%);
}