.tabs-container {
    display: flex;
    width: 95%;
}

.tab-container {
    display: flex;
    align-items: center;
    position: relative;
}

.header-tab {
    padding: 0 1rem 0 0;
    margin-right: 1rem;
    cursor: pointer;
    border-right: 2px solid hsl(240, 54%, 80%);
    font-size: 1rem;
    font-weight: bold;
}

.sub-header-tab {
    padding: 0.5rem;
    cursor: pointer;
    border: solid 1px rgba(169, 178, 200, 0.3);
    /* box-shadow: 0 2px 2px 0 #dfe1f3, 0 -2px 4px 0 #c6c7d7; */
    /* background: white; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-right: 1.5rem;
}

.active-header-tab {
    color: hsl(211, 54%, 11%);
}

.active-sub-header-tab {
    background: white;
    color: hsl(211, 54%, 11%);
}

.makeBlackPearlButton {
    background: hsl(206, 73%, 20%);
    color: white;
}

.makeWoodBarkButton {
    background: hsl(3, 76%, 20%);
    color: white;
}

.close-icon {
    width: 12px;
    height: 12px;
    padding: 5px;
    border-radius: 100%;
    position: absolute;
    right: 0;
}

.close-icon:hover {
    background: hsl(0, 0%, 80%);
}